$navigationColor: rgba(24, 24, 70, 1);
$whiteColor: #ffffff;
$activeBorderColor: #ff5722;
$listItemColor: #c4c5d7;
$formBackgroundColor: #f9f9fd;
$formBorderColor: #ecedf5;
$placeholderColor: #5f6b8a;
